html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Open Sans", sans-serif;
}

/* ||| CUSTOM CSS ||| */

.custom-container {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(0,0,0,0.6);
    padding: 60px 40px 30px 40px;
}

body {
    background-color: #003b64;
}

h1 {
    margin-bottom: 20px;
    color: #003b64;
}

/* Form */
.form-wrapper {
    max-width: 500px;
    margin:auto;
}

input {
    display: block;
    width: 100%;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 5px 15px;
}

    input:focus {
        outline: 2px #0194d3 solid;
    }

label::after {
    content: ":";
}

.custom-form-group {
    margin-bottom: 6px;
}

button[type=submit] {
    background-color: #0194d3;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    border: 2px #0194d3 solid;
    padding: 6px 20px;
    margin-top: 15px;
}

    button[type=submit]:hover {
        background-color: #0086bf;
        border-color: #0086bf;
        box-shadow: rgba(0, 0, 0, .5) 0px 0px 5px;
    }

/* Table */
table {
    margin-bottom: 15px;
    width: 100%;
}

tr {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

tr:last-child {
    border-bottom: none;
}

th:last-child {
    border-radius: 0px 15px 15px 0px;
}

th:first-child {
    border-radius: 15px 0px 0px 15px;
}

th, td {
    padding: 10px 20px;
}

th {
    background-color: #0194d3;
    color: white;
    padding: 12px 20px 10px 20px;
}

td:first-child {
    border-radius: 15px 0px 0px 15px;
}

td:last-child {
    border-radius: 0px 15px 15px 0px;
}

tr:hover {
    background-color: rgba(0,0,0,0.1);
}

/* Validation */
input.input-validation-error {
    border-color: red;
    outline: 2px solid red;
}

span.field-validation-error {
    color: red;
    margin-top: 2px;
}

/* Breakpoints */

/* Phone */
@media only screen and (min-width: 576px) {
    form {
        max-width: 500px;
    }
}